<launch>
  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find sp_description)/urdf/engineer_manipulator/engineer.xacro" />
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <!--<arg name="world_name" value="$(find sp_gazebosim)/worlds/test.world"/>-->
  </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -model engineer -param robot_description"
    output="screen" />

</launch>
