<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="engineer2_manipulator">
    <xacro:macro name="manipulator_transmission" params="joint_name">

        <transmission name="trans_${joint_name}">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${joint_name}_motor">
                <mechanicalReduction>1</mechanicalReduction>
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </actuator>
			<joint name="${joint_name}">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
        </transmission>
    </xacro:macro>

   	<xacro:manipulator_transmission joint_name="joint1"/>
	<xacro:manipulator_transmission joint_name="joint2"/>
	<xacro:manipulator_transmission joint_name="joint3"/>
	<xacro:manipulator_transmission joint_name="joint4"/>
	<xacro:manipulator_transmission joint_name="joint5"/>
    <xacro:manipulator_transmission joint_name="joint6"/>
    <xacro:manipulator_transmission joint_name="joint7"/>
	
   
</robot>
