<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="engineer_manipulator">
    <xacro:macro name="manipulator_transmission" params="joint_name">

        <transmission name="trans_${joint_name}">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${joint_name}_motor">
                <mechanicalReduction>1</mechanicalReduction>
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </actuator>
			<joint name="${joint_name}">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
        </transmission>
    </xacro:macro>

    <xacro:manipulator_transmission joint_name="arm_joint_1"/>
	<xacro:manipulator_transmission joint_name="arm_joint_2"/>
	<xacro:manipulator_transmission joint_name="arm_joint_3"/>
	<xacro:manipulator_transmission joint_name="arm_joint_4"/>
	<xacro:manipulator_transmission joint_name="arm_joint_5"/>
</robot>
