<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="swerve_sentry_v1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.011313 3.1872E-17 -0.0058595"
        rpy="0 0 0" />
      <mass
        value="4.8985" />
      <inertia
        ixx="0.018563"
        ixy="1.6602E-19"
        ixz="4.9286E-20"
        iyy="0.0091538"
        iyz="-3.4732E-19"
        izz="0.027267" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="swerve_back_left_link">
    <inertial>
      <origin
        xyz="0.0047898 0.0011044 -0.036004"
        rpy="0 0 0" />
      <mass
        value="1.5313" />
      <inertia
        ixx="0.00060285"
        ixy="-1.1096E-06"
        ixz="-5.707E-05"
        iyy="0.0008954"
        iyz="-5.6323E-07"
        izz="0.00089949" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/swerve_back_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/swerve_back_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="swerve_back_left_joint"
    type="revolute">
    <origin
      xyz="-0.17 0.17 -0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="swerve_back_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="driving_back_left_link">
    <inertial>
      <origin
        xyz="1.325E-05 1.9695E-05 0.021908"
        rpy="0 0 0" />
      <mass
        value="0.8884" />
      <inertia
        ixx="0.00091007"
        ixy="1.9702E-07"
        ixz="-1.7216E-07"
        iyy="0.00091015"
        iyz="-1.2576E-07"
        izz="0.0017298" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/driving_back_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/driving_back_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="driving_back_left_joint"
    type="revolute">
    <origin
      xyz="1.3028E-05 -0.028 -0.13395"
      rpy="-1.5708 0 0" />
    <parent
      link="swerve_back_left_link" />
    <child
      link="driving_back_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="swerve_back_right_link">
    <inertial>
      <origin
        xyz="0.0047898 0.0011044 -0.036004"
        rpy="0 0 0" />
      <mass
        value="1.5313" />
      <inertia
        ixx="0.00060285"
        ixy="-1.1096E-06"
        ixz="-5.707E-05"
        iyy="0.0008954"
        iyz="-5.6323E-07"
        izz="0.00089949" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/swerve_back_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/swerve_back_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="swerve_back_right_joint"
    type="revolute">
    <origin
      xyz="-0.17 -0.17 -0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="swerve_back_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="driving_back_right_link">
    <inertial>
      <origin
        xyz="1.325E-05 1.9695E-05 0.021908"
        rpy="0 0 0" />
      <mass
        value="0.8884" />
      <inertia
        ixx="0.00091007"
        ixy="1.9702E-07"
        ixz="-1.7216E-07"
        iyy="0.00091015"
        iyz="-1.2576E-07"
        izz="0.0017298" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/driving_back_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/driving_back_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="driving_back_right_joint"
    type="revolute">
    <origin
      xyz="1.3028E-05 -0.028 -0.13395"
      rpy="-1.5708 0 0" />
    <parent
      link="swerve_back_right_link" />
    <child
      link="driving_back_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="swerve_heading_right_link">
    <inertial>
      <origin
        xyz="0.0047898 0.0011044 -0.036004"
        rpy="0 0 0" />
      <mass
        value="1.5313" />
      <inertia
        ixx="0.00060285"
        ixy="-1.1096E-06"
        ixz="-5.707E-05"
        iyy="0.0008954"
        iyz="-5.6323E-07"
        izz="0.00089949" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/swerve_heading_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/swerve_heading_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="swerve_heading_right_joint"
    type="revolute">
    <origin
      xyz="0.17 -0.17 -0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="swerve_heading_right_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="driving_heading_right_link">
    <inertial>
      <origin
        xyz="1.325E-05 1.9695E-05 0.021908"
        rpy="0 0 0" />
      <mass
        value="0.8884" />
      <inertia
        ixx="0.00091007"
        ixy="1.9702E-07"
        ixz="-1.7216E-07"
        iyy="0.00091015"
        iyz="-1.2576E-07"
        izz="0.0017298" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/driving_heading_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/driving_heading_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="driving_heading_right_joint"
    type="revolute">
    <origin
      xyz="1.3028E-05 -0.028 -0.13395"
      rpy="-1.5708 0 0" />
    <parent
      link="swerve_heading_right_link" />
    <child
      link="driving_heading_right_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="swerve_heading_left_link">
    <inertial>
      <origin
        xyz="0.0047898 0.0011044 -0.036004"
        rpy="0 0 0" />
      <mass
        value="1.5313" />
      <inertia
        ixx="0.00060285"
        ixy="-1.1096E-06"
        ixz="-5.707E-05"
        iyy="0.0008954"
        iyz="-5.6323E-07"
        izz="0.00089949" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/swerve_heading_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/swerve_heading_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="swerve_heading_left_joint"
    type="revolute">
    <origin
      xyz="0.17 0.17 -0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="swerve_heading_left_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="driving_heading_left_link">
    <inertial>
      <origin
        xyz="1.325E-05 1.9695E-05 0.021908"
        rpy="0 0 0" />
      <mass
        value="0.8884" />
      <inertia
        ixx="0.00091007"
        ixy="1.9702E-07"
        ixz="-1.7216E-07"
        iyy="0.00091015"
        iyz="-1.2576E-07"
        izz="0.0017298" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/driving_heading_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://swerve_sentry_v1/meshes/driving_heading_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="driving_heading_left_joint"
    type="revolute">
    <origin
      xyz="1.3028E-05 -0.028 -0.13395"
      rpy="-1.5708 0 0" />
    <parent
      link="swerve_heading_left_link" />
    <child
      link="driving_heading_left_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>