<launch>
	<include file="$(find framed_moveit_config)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true"/>
		<arg name="moveit_controller_manager" value="engineer_framed"/>
	</include>

	<include file="$(find framed_moveit_config)/launch/moveit_rviz.launch"/>
	
</launch>
