<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="engineer_manipulator">
    <xacro:macro name="manipulator_transmission" params="joint_name mechanical_reduction">
        <transmission name="trans_${joint_name}" >
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="${joint_name}_motor">
                <mechanicalReduction>${mechanical_reduction}</mechanicalReduction>
				<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
			<joint name="${joint_name}">
				<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
			</joint>
        </transmission>
    </xacro:macro>

   	<xacro:manipulator_transmission joint_name="z_joint_left" mechanical_reduction="-527.72"/>
    <xacro:manipulator_transmission joint_name="z_joint_right" mechanical_reduction="527.72"/>
	<xacro:manipulator_transmission joint_name="x_joint_left" mechanical_reduction="2010.62"/>
    <xacro:manipulator_transmission joint_name="x_joint_right" mechanical_reduction="-2010.62"/>
	<xacro:manipulator_transmission joint_name="y_joint" mechanical_reduction="274.285"/>
<xacro:manipulator_transmission joint_name="yaw_joint" mechanical_reduction="1"/>
	<xacro:manipulator_transmission joint_name="roll1_joint" mechanical_reduction="1"/>
    <xacro:manipulator_transmission joint_name="pitch_joint" mechanical_reduction="1"/>
    <xacro:manipulator_transmission joint_name="roll2_joint" mechanical_reduction="-1"/>
   	<xacro:manipulator_transmission joint_name="ore_left" mechanical_reduction="-1"/>
   	<xacro:manipulator_transmission joint_name="ore_right" mechanical_reduction="1"/>

	
   
</robot>
