<?xml version="1.0" encoding="utf-8"?>
<robot name="sentry_laser" xmlns:xacro="http://www.ros.org/wiki/xacro">
<link
    name="Laser_Link">
    <inertial>
      <origin
        xyz="-0.000243768363515523 1.68373030667576E-06 0.0354698758043828"
        rpy="0 0 0" />
      <mass
        value="0.124623929963422" />
      <inertia
        ixx="3.64034890751659E-05"
        ixy="-6.50149904285924E-09"
        ixz="3.15422790274066E-07"
        iyy="3.96287690028152E-05"
        iyz="-2.91455786600563E-09"
        izz="5.80811525687162E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sentry_kinematics_sim/meshes/Laser_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sentry_kinematics_sim/meshes/Laser_Link.STL" />
      </geometry>
    </collision>
  </link>

     <gazebo reference="Laser_Link">
     <material>Gazebo/Red</material>
     <turnGravityOff>false</turnGravityOff>
 </gazebo>

<!--
   <xacro:property name="M_PI" value="3.14159"/> 
  <xacro:property name="laser_min_range" value="0.1"/>
  <xacro:property name="laser_max_range" value="200.0"/>
  <xacro:property name="ros_topic" value="/scan"/>
  <xacro:property name="samples" value="24000"/>
  <xacro:property name="downsample" value="1"/>
  

<xacro:property name="horizontal_fov" value="70.4"/>
<xacro:property name="vertical_fov" value="70.4"/>
  <gazebo reference="Laser_Link">
      <sensor type="ray" name="Livox_Link">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>1</update_rate>
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
			<ray>
			  <scan>
				<horizontal>
				<samples>100</samples>
				<resolution>1</resolution>
				<min_angle>${-horizontal_fov/360*M_PI}</min_angle>
				<max_angle>${horizontal_fov/360*M_PI}</max_angle>
				</horizontal>
				<vertical>
				<samples>50</samples>
				<resolution>1</resolution>
				<min_angle>${-vertical_fov/360*M_PI}</min_angle>
				<max_angle>${vertical_fov/360*M_PI}</max_angle>
				</vertical>
			  </scan>
			  <range>
				<min>0.1</min>
				<max>200</max>
				<resolution>0.002</resolution>
			  </range>
			  <noise>
				<type>gaussian</type>
				<mean>0.0</mean>
				<stddev>0.01</stddev>
			  </noise>
			</ray>
          <visualize>true</visualize>
		  <samples>10000</samples>
		  <downsample>1</downsample>
		  <csv_file_name>package://sentry9/scan_mode/mid70.csv</csv_file_name>
		  <ros_topic>/scan</ros_topic>
        </plugin>
      </sensor>
  </gazebo>
  -->

</robot>

  

