<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="engineer_chassis_framed" 
  xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find sp_description)/urdf/common/mecanum_wheel.xacro"/>

  <xacro:property name="wheel_front" value="0.19185"/>
  <xacro:property name="wheel_back" value="-0.19152"/>
  <xacro:property name="wheel_left" value="0.221"/>
  <xacro:property name="wheel_right" value="-0.221"/>
  <xacro:property name="wheel_offset_z" value="0.077"/>
  <xacro:property name="wheel_joint_damping" value="1.0"/>
  <xacro:property name="wheel_joint_friction" value="1.0"/>
  
  <xacro:macro name="engineer_chassis" params="roller_type">

   <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.047614 -0.013852 0.13893"
        rpy="0 0 0" />
      <mass
        value="12.232" />
      <inertia
        ixx="0.039383"
        ixy="2.7131E-05"
        ixz="0.00010315"
        iyy="0.048017"
        iyz="0.00051335"
        izz="0.075914" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sp_description/meshes/engineer_framed/engineer_chassis/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.090" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.6 0.120"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </collision>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.55 0.14"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </collision>
    

  </link>
    <xacro:mecanum_wheel prefix="left_front" connected_to="base_link"
                         wheel_x_offset="${wheel_front}" wheel_y_offset="${wheel_left}"
                         wheel_z_offset="${wheel_offset_z}"
                         reflect="1" roller_type="${roller_type}"/>
    <xacro:mecanum_wheel prefix="right_front" connected_to="base_link"
                         wheel_x_offset="${wheel_front}" wheel_y_offset="${wheel_right}"
                         wheel_z_offset="${wheel_offset_z}"
                         reflect="-1" roller_type="${roller_type}"/>
    <xacro:mecanum_wheel prefix="left_back" connected_to="base_link"
                         wheel_x_offset="${wheel_back}" wheel_y_offset="${wheel_left}"
                         wheel_z_offset="${wheel_offset_z}"
                         reflect="-1" roller_type="${roller_type}"/>
    <xacro:mecanum_wheel prefix="right_back" connected_to="base_link"
                         wheel_x_offset="${wheel_back}" wheel_y_offset="${wheel_right}"
                         wheel_z_offset="${wheel_offset_z}"
                         reflect="1" roller_type="${roller_type}"/>
    <!-- <xacro:wheel_transmission prefix="left_front" mechanical_reduction="19.2032"/>
    <xacro:wheel_transmission prefix="right_front" mechanical_reduction="-19.2032"/>
    <xacro:wheel_transmission prefix="left_back" mechanical_reduction="19.2032"/>
    <xacro:wheel_transmission prefix="right_back" mechanical_reduction="-19.2032"/> -->

  </xacro:macro>

</robot>