<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="fpv_module"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="fpv_module">
  <link
    name="fpv_base_link">
    <inertial>
      <origin
        xyz="-0.00837197593310401 0.000140523225172551 0.260650515078393"
        rpy="0 0 0" />
      <mass
        value="0.318290775105411" />
      <inertia
        ixx="0.000973615562452728"
        ixy="9.93132176470742E-08"
        ixz="-1.69679963274217E-08"
        iyy="0.000982867792635814"
        iyz="-2.29555898593292E-07"
        izz="3.91535142867244E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sp_description/meshes/fpv_module/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.029 0.0 0.1213" rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.025 0.27"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0085 0.01 0.2963" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.09 0.08"/>
      </geometry>
    </collision>
  </link>
  <link
    name="mast">
    <inertial>
      <origin
        xyz="0.00716538024583485 -0.00264462585813141 0.223656429556577"
        rpy="0 0 0" />
      <mass
        value="0.434967907171886" />
      <inertia
        ixx="0.00352779149135138"
        ixy="-3.17747244925809E-06"
        ixz="-8.40259572495528E-08"
        iyy="0.00361813573645971"
        iyz="-5.8119648700945E-09"
        izz="0.000252286197843195" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sp_description/meshes/fpv_module/mast.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.870588235294118 0.980392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.003 0 0.1738" rpy="0 0 0" />
      <geometry>
        <box size="0.031 0.036 0.375"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.038 -0.008 0.3813" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.12 0.06"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="mast_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="fpv_base_link" />
    <child
      link="mast" />
    <!--标记一下奇怪的地方-->
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.235"
      effort="50"
      velocity="0.8" />
  </joint>
  <link
    name="fpv_yaw">
    <inertial>
      <origin
        xyz="-0.00916957696697959 0.0441061978242165 0.0183084882784505"
        rpy="0 0 0" />
      <mass
        value="0.0608808554843221" />
      <inertia
        ixx="9.04027463419959E-06"
        ixy="9.88988932831204E-08"
        ixz="4.51337209267773E-08"
        iyy="1.46381906705228E-05"
        iyz="3.26266079201928E-07"
        izz="1.94937658359286E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sp_description/meshes/fpv_module/fpv_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.498039215686275 0.498039215686275 0.498039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0012 0.023 0.0285" rpy="0 0 0" />
      <geometry>
        <box size="0.07 0.075 0.025"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="fpv_yaw_joint"
    type="revolute">
    <origin
      xyz="0 -0.0285 0.3853"
      rpy="0 0 0" />
    <parent
      link="mast" />
    <child
      link="fpv_yaw" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="1.3"
      velocity="6" />
  </joint>
  <link
    name="fpv_pitch">
    <inertial>
      <origin
        xyz="-0.0174476716824312 -0.0555089282604818 -4.05421645252591E-05"
        rpy="0 0 0" />
      <mass
        value="0.790822100365449" />
      <inertia
        ixx="0.000904458627478079"
        ixy="-1.04817358797102E-06"
        ixz="3.64987845692274E-07"
        iyy="0.00117560347818278"
        iyz="8.43541198126057E-08"
        izz="0.000928104839953432" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sp_description/meshes/fpv_module/fpv_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.498039215686275 0.498039215686275 0.498039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.005 -0.05 0" rpy="0 0 0" />
      <geometry>
        <box size="0.11 0.07 0.05"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="fpv_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.0007 0.0275"
      rpy="-1.5708 0 -3.1416" />
    <parent
      link="fpv_yaw" />
    <child
      link="fpv_pitch" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="1.3"
      velocity="6" />
  </joint>

  <!--Transmission-->
  <transmission name="trans_mast_joint">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="mast_joint_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="mast_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="trans_fpv_yaw_joint">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="fpv_yaw_joint_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="fpv_yaw_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <transmission name="trans_fpv_pitch_joint">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="fpv_pitch_joint_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="fpv_pitch_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
  </transmission>

  
  </xacro:macro>
</robot>
