<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find sp_gazebosim)/move_base_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find sp_gazebosim)/move_base_param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find sp_gazebosim)/move_base_param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find sp_gazebosim)/move_base_param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find sp_gazebosim)/move_base_param/base_local_planner_params.yaml" command="load" />

      <!-- 调用teb作为本地路径规划器 局部代价地图更新频率为10 -->
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="10.0" />
    </node>

</launch>
